<li class="collection-item">
  {{node.displayName}}
  {{#if hasChildren}}
    <ul class="collection">
      {{#each node.children as |child|}}
        {{tree-view node=child}}
      {{/each}}
    </ul>
  {{/if}}
</li>
{{yield}}
